@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_wght.ttf");
    font-weight: 200 800;
  }
  @font-face {
    font-family: Caveat;
    src: url("/assets/fonts/Caveat-VariableFont_wght.ttf");
    font-weight: 200 800;
  }
  html{
    @apply text-white
  }
}

@layer components {
  .hero-big {
    @apply font-bold text-7xl lg:text-7xl xl:text-8xl text-white font-caveat;
  }
  .hero-body {
    @apply font-bold text-2xl sm:text-3xl md:text-4xl lg:text-4xl  xl:text-5xl text-white;
  }
}
